@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import "tailwindcss";
p {
    font-family: 'Fraunces';
    font-size: larger;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 6px;
}
h1 {
    font-size: 60px;
    font-family: 'Bowlby One SC', sans-serif;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out; 
}
* {
    text-align: center;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    font-weight: 750;
}
h1:hover {
    transform: scale(1.05);
}
b:hover {
    font-style: italic ;
}

@keyframes fadeOutSlideUp {
    70% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-100px); 
    }
  }
  

  .hero-image {
    animation: fadeOutSlideUp linear forwards;
    animation-timeline: view();
    animation-range: 0% 40%;
    position: sticky;
    top: 0;
  }
::-webkit-scrollbar { display: none; }
scrollbar-width: none; 

