@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import "tailwindcss";
p {
    font-family: 'Fraunces';
    font-size: larger;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 6px;
}
li {
  font-family: 'Fraunces';
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 6px;
}

h1 {
    font-size: 60px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out; 
}
h2 {
  font-size: 30px;
  font-family: "DM Serif Display", serif;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 10px;
}
input::placeholder {
  font-size: x-large;
  font-family: 'Fraunces';
  color: #000;
}
form {
  font-size: x-large;
  font-family: 'Fraunces';
  color: #000;
 
}
input:focus {
  outline: 0;
}
a {
  text-decoration: underline;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    font-weight: 750;
}
h1:hover {
    transform: scale(1.05);
}
b:hover {
    font-style: italic;
}
button {
  font-family: 'Fraunces';
}
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .hero-image {
    position: sticky;
    top: 0;
  }

 

  .EasyMDEContainer .CodeMirror {
    background-color: #fb4bb0; 
}
::-webkit-scrollbar { display: none; }
scrollbar-width: none; 

